In [2]:
import pandas as pd
data=[1,2,3,4]
df=pd.Series(data)
print(df)

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
import pandas as pd
data={"names":["poojitha","ramya","renu"],"brands":["sss","ppp","rrr"]}
df=pd.DataFrame(data)
print(df)

      names brands
0  poojitha    sss
1     ramya    ppp
2      renu    rrr

In [4]:
df=pd.read_csv('/home/user/Downloads/transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [11]:
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [12]:
print(df.tail(2))

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [13]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [14]:
print(df['UserID'])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [15]:
print(df[['UserID','Quantity']])

   UserID  Quantity
0     7.0         1
1     3.0         1
2     3.0         1
3     1.0         3
4     2.0         1
5     2.0         6
6     3.0         1
7     NaN         3
8     7.0         3
9     3.0         4

In [16]:
print(df.iloc[1])

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [17]:
filtered_df = df[df['Quantity'] > 5]
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [19]:
df.rename(columns={'UserID': 'ID', 'Quantity': 'Q'},inplace=True) 
print(df)

   TransactionID TransactionDate   ID  ProductID  Q
0              1      2010-08-21  7.0          2  1
1              2      2011-05-26  3.0          4  1
2              3      2011-06-16  3.0          3  1
3              4      2012-08-26  1.0          2  3
4              5      2013-06-06  2.0          4  1
5              6      2013-12-23  2.0          5  6
6              7      2013-12-30  3.0          4  1
7              8      2014-04-24  NaN          2  3
8              9      2015-04-24  7.0          4  3
9             10      2016-05-08  3.0          4  4

In [20]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
ID                 1
ProductID          0
Q                  0
dtype: int64

In [21]:
s=df['ID'].fillna(df['ID'].mean(), inplace=False)
print(s)

0    7.000000
1    3.000000
2    3.000000
3    1.000000
4    2.000000
5    2.000000
6    3.000000
7    3.444444
8    7.000000
9    3.000000
Name: ID, dtype: float64

In [22]:
df['ID'].fillna(df['ID'].mean(), inplace=True)
print(df)

   TransactionID TransactionDate        ID  ProductID  Q
0              1      2010-08-21  7.000000          2  1
1              2      2011-05-26  3.000000          4  1
2              3      2011-06-16  3.000000          3  1
3              4      2012-08-26  1.000000          2  3
4              5      2013-06-06  2.000000          4  1
5              6      2013-12-23  2.000000          5  6
6              7      2013-12-30  3.000000          4  1
7              8      2014-04-24  3.444444          2  3
8              9      2015-04-24  7.000000          4  3
9             10      2016-05-08  3.000000          4  4

In [23]:
df.dropna(inplace=True)
print(df)

   TransactionID TransactionDate        ID  ProductID  Q
0              1      2010-08-21  7.000000          2  1
1              2      2011-05-26  3.000000          4  1
2              3      2011-06-16  3.000000          3  1
3              4      2012-08-26  1.000000          2  3
4              5      2013-06-06  2.000000          4  1
5              6      2013-12-23  2.000000          5  6
6              7      2013-12-30  3.000000          4  1
7              8      2014-04-24  3.444444          2  3
8              9      2015-04-24  7.000000          4  3
9             10      2016-05-08  3.000000          4  4

In [24]:
df_sorted = df.sort_values(by=["Q", "TransactionDate"],
ascending=[True, False])
print(df_sorted)

   TransactionID TransactionDate        ID  ProductID  Q
6              7      2013-12-30  3.000000          4  1
4              5      2013-06-06  2.000000          4  1
2              3      2011-06-16  3.000000          3  1
1              2      2011-05-26  3.000000          4  1
0              1      2010-08-21  7.000000          2  1
8              9      2015-04-24  7.000000          4  3
7              8      2014-04-24  3.444444          2  3
3              4      2012-08-26  1.000000          2  3
9             10      2016-05-08  3.000000          4  4
5              6      2013-12-23  2.000000          5  6

In [25]:
df_sorted = df.sort_values(by=["Q", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate   ID  ProductID  Q
6              7      2013-12-30  3.0          4  1
4              5      2013-06-06  2.0          4  1
2              3      2011-06-16  3.0          3  1
1              2      2011-05-26  3.0          4  1
0              1      2010-08-21  7.0          2  1

In [26]:
df_sorted = df.sort_values(by=["Q", "TransactionDate"],
ascending=[True, False])
print(df_sorted.tail())

   TransactionID TransactionDate        ID  ProductID  Q
8              9      2015-04-24  7.000000          4  3
7              8      2014-04-24  3.444444          2  3
3              4      2012-08-26  1.000000          2  3
9             10      2016-05-08  3.000000          4  4
5              6      2013-12-23  2.000000          5  6

In [27]:
df_sorted = df.sort_values(by=["Q", "TransactionDate"],
ascending=[True, True])
print(df_sorted)

   TransactionID TransactionDate        ID  ProductID  Q
0              1      2010-08-21  7.000000          2  1
1              2      2011-05-26  3.000000          4  1
2              3      2011-06-16  3.000000          3  1
4              5      2013-06-06  2.000000          4  1
6              7      2013-12-30  3.000000          4  1
3              4      2012-08-26  1.000000          2  3
7              8      2014-04-24  3.444444          2  3
8              9      2015-04-24  7.000000          4  3
9             10      2016-05-08  3.000000          4  4
5              6      2013-12-23  2.000000          5  6

In [28]:
subset = df[df['Q'] > 1]
print(subset)

   TransactionID TransactionDate        ID  ProductID  Q
3              4      2012-08-26  1.000000          2  3
5              6      2013-12-23  2.000000          5  6
7              8      2014-04-24  3.444444          2  3
8              9      2015-04-24  7.000000          4  3
9             10      2016-05-08  3.000000          4  4

In [29]:
subset_rows = df.iloc[[0, 2, 5]]
print(subset_rows)

   TransactionID TransactionDate   ID  ProductID  Q
0              1      2010-08-21  7.0          2  1
2              3      2011-06-16  3.0          3  1
5              6      2013-12-23  2.0          5  6

In [31]:

foo = [True, False, True, False,True,False,True,True,False,True]
subset_rows = df[foo]
print(subset_rows)

   TransactionID TransactionDate        ID  ProductID  Q
0              1      2010-08-21  7.000000          2  1
2              3      2011-06-16  3.000000          3  1
4              5      2013-06-06  2.000000          4  1
6              7      2013-12-30  3.000000          4  1
7              8      2014-04-24  3.444444          2  3
9             10      2016-05-08  3.000000          4  4

In [33]:
subset = df[df['Q'] > 1][['TransactionID',
'TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [34]:
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [36]:
columns_to_exclude = ['Q', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not
in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate        ID
0              1      2010-08-21  7.000000
1              2      2011-05-26  3.000000
2              3      2011-06-16  3.000000
3              4      2012-08-26  1.000000
4              5      2013-06-06  2.000000
5              6      2013-12-23  2.000000
6              7      2013-12-30  3.000000
7              8      2014-04-24  3.444444
8              9      2015-04-24  7.000000
9             10      2016-05-08  3.000000

In [37]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
ID                        float64
ProductID                   int64
Q                           int64
dtype: object

In [39]:
df['Foo'] = df['ID'] + df['ProductID']
print(df.head())

   TransactionID TransactionDate   ID  ProductID  Q  Foo
0              1      2010-08-21  7.0          2  1  9.0
1              2      2011-05-26  3.0          4  1  7.0
2              3      2011-06-16  3.0          3  1  6.0
3              4      2012-08-26  1.0          2  3  3.0
4              5      2013-06-06  2.0          4  1  6.0

In [42]:
df.loc[len(df)] = ['11','2003-07-17','1','5','3','6']
print(df)

   TransactionID      TransactionDate        ID ProductID  Q       Foo
0              1  2010-08-21 00:00:00       7.0         2  1       9.0
1              2  2011-05-26 00:00:00       3.0         4  1       7.0
2              3  2011-06-16 00:00:00       3.0         3  1       6.0
3              4  2012-08-26 00:00:00       1.0         2  3       3.0
4              5  2013-06-06 00:00:00       2.0         4  1       6.0
5              6  2013-12-23 00:00:00       2.0         5  6       7.0
6              7  2013-12-30 00:00:00       3.0         4  1       7.0
7              8  2014-04-24 00:00:00  3.444444         2  3  5.444444
8              9  2015-04-24 00:00:00       7.0         4  3      11.0
9             10  2016-05-08 00:00:00       3.0         4  4       7.0
10            11           2003-07-17         1         5  3         6

In [44]:
df.loc[df['ID'] == 11, 'Q'] = '6'
print(df)

   TransactionID      TransactionDate        ID ProductID  Q       Foo
0              1  2010-08-21 00:00:00       7.0         2  1       9.0
1              2  2011-05-26 00:00:00       3.0         4  1       7.0
2              3  2011-06-16 00:00:00       3.0         3  1       6.0
3              4  2012-08-26 00:00:00       1.0         2  3       3.0
4              5  2013-06-06 00:00:00       2.0         4  1       6.0
5              6  2013-12-23 00:00:00       2.0         5  6       7.0
6              7  2013-12-30 00:00:00       3.0         4  1       7.0
7              8  2014-04-24 00:00:00  3.444444         2  3  5.444444
8              9  2015-04-24 00:00:00       7.0         4  3      11.0
9             10  2016-05-08 00:00:00       3.0         4  4       7.0
10            11           2003-07-17         1         5  3         6

In [45]:
df.loc[df['ID'] == 1, 'Q'] = '8'
print(df)

   TransactionID      TransactionDate        ID ProductID  Q       Foo
0              1  2010-08-21 00:00:00       7.0         2  1       9.0
1              2  2011-05-26 00:00:00       3.0         4  1       7.0
2              3  2011-06-16 00:00:00       3.0         3  1       6.0
3              4  2012-08-26 00:00:00       1.0         2  8       3.0
4              5  2013-06-06 00:00:00       2.0         4  1       6.0
5              6  2013-12-23 00:00:00       2.0         5  6       7.0
6              7  2013-12-30 00:00:00       3.0         4  1       7.0
7              8  2014-04-24 00:00:00  3.444444         2  3  5.444444
8              9  2015-04-24 00:00:00       7.0         4  3      11.0
9             10  2016-05-08 00:00:00       3.0         4  4       7.0
10            11           2003-07-17         1         5  3         6

In [47]:
df['NewColumn'] = df['Q'] * 2
print(df.head())

  TransactionID      TransactionDate   ID ProductID  Q  Foo NewColumn
0             1  2010-08-21 00:00:00  7.0         2  1  9.0         2
1             2  2011-05-26 00:00:00  3.0         4  1  7.0         2
2             3  2011-06-16 00:00:00  3.0         3  1  6.0         2
3             4  2012-08-26 00:00:00  1.0         2  8  3.0        88
4             5  2013-06-06 00:00:00  2.0         4  1  6.0         2

In [50]:
df['TransactionDate']=pd.to_datetime(df['TransactionDate'])
print(df)

   TransactionID TransactionDate        ID ProductID  Q       Foo NewColumn
0              1      2010-08-21       7.0         2  1       9.0         2
1              2      2011-05-26       3.0         4  1       7.0         2
2              3      2011-06-16       3.0         3  1       6.0         2
3              4      2012-08-26       1.0         2  8       3.0        88
4              5      2013-06-06       2.0         4  1       6.0         2
5              6      2013-12-23       2.0         5  6       7.0        12
6              7      2013-12-30       3.0         4  1       7.0         2
7              8      2014-04-24  3.444444         2  3  5.444444         6
8              9      2015-04-24       7.0         4  3      11.0         6
9             10      2016-05-08       3.0         4  4       7.0         8
10            11      2003-07-17         1         5  3         6        33

In [51]:
#Exercise:
#1. Print Summary of transaction data set
print(df.describe())

                     TransactionDate
count                             11
mean   2012-06-16 19:38:10.909090816
min              2003-07-17 00:00:00
25%              2011-06-05 12:00:00
50%              2013-06-06 00:00:00
75%              2014-02-25 12:00:00
max              2016-05-08 00:00:00

In [53]:
#2. Print Numbers of Attribute
print(df.count())

TransactionID      11
TransactionDate    11
ID                 11
ProductID          11
Q                  11
Foo                11
NewColumn          11
dtype: int64

In [12]:
df=pd.read_csv('/home/user/Downloads/transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [55]:
#Exercise:
#1. Print Summary of transaction data set
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [75]:
#2. Print Numbers of Attribute
df=df.count()
print(df)

5

In [88]:
#3. Print Numbers of Records
a=df.shape[0]
print(a)

10

In [95]:
#4. Get the row names
b=df.index.tolist()
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
#5. Get the column names
d=df.columns.tolist()
print(d)

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [106]:
#6. View top 10 Records
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [111]:
#7.Change the name of column “ Quantity” to “Quant”
df.rename(columns={'Quantity': 'Quant'},inplace=True) 
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [4]:
#8.Change the name of columns ProductID and UserID
df.rename(columns={'ProductID': 'pid','UserID':'UID'},inplace=True) 
print(df)

   TransactionID TransactionDate  UID  pid  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [9]:
#9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True
df_sorted = df.sort_values(by=["TransactionID"],ascending=[True])
print(df_sorted.head(10))

   TransactionID TransactionDate  UID  pid  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [8]:
#10. Order the rows of transactions by Quantity ascending, TransactionDate descending
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head(10))

   TransactionID TransactionDate  UID  pid  Quantity
6              7      2013-12-30  3.0    4         1
4              5      2013-06-06  2.0    4         1
2              3      2011-06-16  3.0    3         1
1              2      2011-05-26  3.0    4         1
0              1      2010-08-21  7.0    2         1
8              9      2015-04-24  7.0    4         3
7              8      2014-04-24  NaN    2         3
3              4      2012-08-26  1.0    2         3
9             10      2016-05-08  3.0    4         4
5              6      2013-12-23  2.0    5         6

In [14]:
#11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID
d=df[['pid', 'Quantity', 'TransactionDate', 'TransactionID', 'UID']]
print(d)

   pid  Quantity TransactionDate  TransactionID  UID
0    2         1      2010-08-21              1  7.0
1    4         1      2011-05-26              2  3.0
2    3         1      2011-06-16              3  3.0
3    2         3      2012-08-26              4  1.0
4    4         1      2013-06-06              5  2.0
5    5         6      2013-12-23              6  2.0
6    4         1      2013-12-30              7  3.0
7    2         3      2014-04-24              8  NaN
8    4         3      2015-04-24              9  7.0
9    4         4      2016-05-08             10  3.0

In [16]:
#12. Make UserID the first column of transactions
d=df[['UID', 'TransactionID', 'TransactionDate','pid','Quantity']]
print(d)

   UID  TransactionID TransactionDate  pid  Quantity
0  7.0              1      2010-08-21    2         1
1  3.0              2      2011-05-26    4         1
2  3.0              3      2011-06-16    3         1
3  1.0              4      2012-08-26    2         3
4  2.0              5      2013-06-06    4         1
5  2.0              6      2013-12-23    5         6
6  3.0              7      2013-12-30    4         1
7  NaN              8      2014-04-24    2         3
8  7.0              9      2015-04-24    4         3
9  3.0             10      2016-05-08    4         4

In [18]:
#13. Extracting arrays from a Data Frame. Get the 2nd column
array = df.iloc[:, 1].values
print(array)

['2010-08-21' '2011-05-26' '2011-06-16' '2012-08-26' '2013-06-06'
 '2013-12-23' '2013-12-30' '2014-04-24' '2015-04-24' '2016-05-08']

In [19]:
#14. Get the ProductID Array
array = df.iloc[:, 3].values
print(array)

[2 4 3 2 4 5 4 2 4 4]

In [20]:
#15. Get the ProductId array using the following variable
df

   TransactionID TransactionDate  UID  pid  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [21]:
#16.Row subsetting, subset rows 1,3 and 6
subset_rows = df.iloc[[0, 2, 5]]
print(subset_rows)

   TransactionID TransactionDate  UID  pid  Quantity
0              1      2010-08-21  7.0    2         1
2              3      2011-06-16  3.0    3         1
5              6      2013-12-23  2.0    5         6

In [23]:
#17. subset rows excluding 1,3 and 6
subset_rows = df.iloc[[1, 3, 4, 6]]
print(subset_rows)

   TransactionID TransactionDate  UID  pid  Quantity
1              2      2011-05-26  3.0    4         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
6              7      2013-12-30  3.0    4         1

In [24]:
#18. Subset the first three rows
subset_rows = df.iloc[[0,1,2]]
print(subset_rows)

   TransactionID TransactionDate  UID  pid  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1

In [25]:
#18. Subset the first three rows
df.head(3)

   TransactionID TransactionDate  UID  pid  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1

In [26]:
df.iloc[:3]

   TransactionID TransactionDate  UID  pid  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1

In [30]:
#19. Subset the last 2 rows
df.iloc[-2:]

   TransactionID TransactionDate  UID  pid  Quantity
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [31]:
df.tail(2)

   TransactionID TransactionDate  UID  pid  Quantity
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [32]:
#20. Subset rows excluding the last 2 rows
df.iloc[:-2]

   TransactionID TransactionDate  UID  pid  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3

In [34]:
#21. Subset rows excluding the first 3 rows
df.iloc[3:]

   TransactionID TransactionDate  UID  pid  Quantity
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [37]:
#22. Subset rows where Quantity>1
subset = df[df['Quantity'] > 1]
print(subset)

   TransactionID TransactionDate  UID  pid  Quantity
3              4      2012-08-26  1.0    2         3
5              6      2013-12-23  2.0    5         6
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [38]:
#23. Subset rows where UserID=2
subset = df[df['Quantity'] == 1]
print(subset)

   TransactionID TransactionDate  UID  pid  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
4              5      2013-06-06  2.0    4         1
6              7      2013-12-30  3.0    4         1

In [40]:
#24. Subset rows where Quantity>1 and UserID=2
subset=df[(df['Quantity']>1) & (df['UID']==2)]
print(subset)

   TransactionID TransactionDate  UID  pid  Quantity
5              6      2013-12-23  2.0    5         6

In [44]:
#25. Subset rows where Quantity + UserID is >3
subset=df[(df['Quantity']+df['UID'])>3]
print(subset)

   TransactionID TransactionDate  UID  pid  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [25]:
#26. Subset rows where an external array, foo, is True
foo = [True, False, True, False,True,False,True,True,False,True]
df = pd.DataFrame({'foo': foo})
subset_rows = df[foo]
print(subset_rows)

    foo
0  True
2  True
4  True
6  True
7  True
9  True

In [27]:
#27. Subset rows where an external array, bar, is positive
bar=[1,2,-3,0,4,5,-9,-5,4,6]
df = pd.DataFrame({'bar': bar})
subset_rows=df[df['bar']>0]
print(subset_rows)

   bar
0    1
1    2
4    4
5    5
8    4
9    6

In [31]:
#28. Subset rows where foo is TRUE or bar is negative
data = {'foo': ['true', 'false', 'false', 'true', 'false'],
        'bar': [3, -2, -5, 7, -1]}
df = pd.DataFrame(data)
subset = df[(df['foo'] == 'false') & (df['bar'] < 0)]
print(subset)

     foo  bar
1  false   -2
2  false   -5
4  false   -1

In [49]:
#30. Subset by columns 1 and 3
subset=df.iloc[:3]
print(subset)

   TransactionID TransactionDate  UID  pid  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1

In [50]:
#31. Subset by columns TransactionID and TransactionDate
df[["TransactionID", "TransactionDate"]]

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [57]:
 #32.Subset by columns TransactionID and TransactionDate with logical operator
df[df["TransactionID"] <10][["TransactionID", "TransactionDate"]]

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24

In [58]:
#33. Subset columns by a variable list of column names
columns_list = ["TransactionID", "TransactionDate"]
df[columns_list]

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [59]:
#34. Subset columns excluding a variable list of column names
columns_to_exclude = ["TransactionID", "TransactionDate"]
df.drop(columns=columns_to_exclude, axis=1)

   UID  pid  Quantity
0  7.0    2         1
1  3.0    4         1
2  3.0    3         1
3  1.0    2         3
4  2.0    4         1
5  2.0    5         6
6  3.0    4         1
7  NaN    2         3
8  7.0    4         3
9  3.0    4         4

In [6]:
#36. Convert the TransactionDate column to type Date
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

In [17]:
 #35.Inserting and updating values
df.loc[df['UserID'] == 2, 'Quantity'] = 3
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         3
5              6      2013-12-23     2.0          5         3
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [19]:
#37 Insert a new column, Foo=UserID+ProductID
df['Foo'] = df['UserID'] + df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0              1      2010-08-21     7.0          2         1  9.0
1              2      2011-05-26     3.0          4         1  7.0
2              3      2011-06-16     3.0          3         1  6.0
3              4      2012-08-26     1.0          2         3  3.0
4              5      2013-06-06     2.0          4         3  6.0